 html{
     min-height: 100%;
     position:relative;
}
 body{
     font-size:70px;
     width:100%;
}
 header{
     padding:10px;
     font-size:80px;
     color:black;
     font-family: 'Risque', cursive;
     margin-bottom:30px;
}
 .mainContainer{
     width:90%;
     background-image: url("../images/background1.png");
     background-repeat: no-repeat;
     background-size: contain;
     height:auto;
     margin-bottom: 50px;
}
 footer{
     position:absolute;
     bottom:0;
     left:0;
     width:100%;
     clear:both;
     color:black;
     height:30px;
     font-size:15px;
}
 .btn{
     margin-top:8%;
     white-space: normal;
     margin-bottom:5%;
     width:15%;
     background-color: black;
     color:white;
}
 #word,#letter{
     color:black;
     margin-top:20px;
     padding:30px;
     text-align: center;
     font-size:70px;
     font-family: 'Roboto Slab', serif;
}
 #errorMsg{
     display:none;
     color:white;
     background-color: black;
     padding:5px;
     font-size:25px;
}
 #wordHidden, #correctSound,#wrongSound,#backgroundSound{
     display:none;
}
 #tableHeader{
     padding:5px;
     text-align: center;
     background-color:black;
     font-size:30px;
     font-family: 'Dancing Script', cursive;
     color:white;
}
 .tableContent{
     font-size:20px;
     color:black;
}
 table{
     margin-top:40px;
     margin-bottom:20px;
     overflow-x:auto;
     width:100%;
}
 @keyframes animation {
     from {
         background-color: yellowgreen;
    }
     to {
         background-color: crimson ;
    }
}
 .colorChange {
     animation: animation 1s infinite alternate;
}
/* media queries */
 @media screen and (max-width:768px) {
     header{
         font-size:40px;
    }
}
 @media screen and (max-width:640px) {
     body{
         font-size:15px;
    }
     header{
         font-size:20px;
    }
     footer{
         font-size: 10px;
         height:20px;
    }
     #tableHeader,.tableContent,span{
         font-size:10px;
    }
}
 