 body{
     background-color: cornflowerblue;
     font-size:70px;
     width:100%;
}
 header{
     background-color: cornflowerblue;
     padding:10px;
     font-size:80px;
     color:white;
     font-family: 'Risque', cursive;
     margin-bottom:30px;
}
 .mainContainer{
     width:90%;
     background-color: yellowgreen;
     height:auto;
     margin-bottom: 50px;
}
 footer{
    clear:both;
     color:white;
     height:30px;
     font-size:15px;
}
 .btn{
     margin-top:5%;
     white-space: normal;
     margin-bottom:25%;
     width:25%;
}
 #word,#letter{
     margin-top:20px;
     padding:30px;
     text-align: center;
     font-size:70px;
     font-family: 'Roboto Slab', serif;
}
 #errorMsg{
     display:none;
     color:white;
     background-color: darkgreen;
     padding:5px;
     font-size:25px;
}
 #wordHidden, #correctSound,#wrongSound,#backgroundSound{
     display:none;
}

 #imgMap{
     margin-top:40px;
     padding-left:20px;
}
 #tableHeader{
     padding:5px;
     text-align: center;
     background-color:darkgreen;
     font-size:30px;
     font-family: 'Dancing Script', cursive;
     color:white;
}
 .tableContent{
     font-size:20px;
}
 table{
     margin-top:40px;
     margin-bottom:20px;
     overflow-x:auto;
     width:100%;
}
 @keyframes animation {
     from {
         background-color: yellowgreen;
    }
     to {
         background-color: crimson ;
    }
}
 .colorChange {
     animation: animation 1s infinite alternate;
}
 
/* media queries */

 @media screen and (max-width:768px) {
     header{
        font-size:40px;
     }

}
@media screen and (max-width:640px) {
     body{
        font-size:15px;
     }
     header{
        font-size:20px;
     }
     footer{
        font-size: 10px;
        height:20px;
     }

} 

  